:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --c-light-blue: #3d86e8;
  --c-gold: #ceb559;
  --c-blue-grey: #65778f;
  --c-white-grey: #edf0f2;
  --c-grey: #898989;
  --c-grey-black: #212121;
  --c-black: #161717;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-gold);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}